<div class="wrapper">
  <!-- <img [src]="product.images[0]"
       [alt]="product.title"
       class="image"> -->
  <slideshow [imageUrls]="product.images"
             [minHeight]="'300px'"
             [backgroundSize]="'contain'"></slideshow>
  <h3>{{ product.title.toUpperCase() }}</h3>
  <h3>Price: {{ product.price | number }}</h3>
  <p>{{ product.description }}</p>
  <div class="footer">
    <app-number-picker [default]="1"
                       (valueChange)="onAmountChange($event)"></app-number-picker>
    <button mat-button
            (click)="onAddToCart()">Add to cart</button>
  </div>
</div>
