.sidenav-title {
  padding-left: 20px;
  height: 64px;
}

.sidenav-title-text {
  font-weight: 400;
  font-size: 20px;
}

.sidenav-menu-button {
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.sidenav-menu-button span {
  float: left;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}
