.wrapper {
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  max-width: 1000px;
}

@media (max-width: 1336px) {
  .product-container {
    justify-content: space-between;
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .product-container {
    justify-content: center;
  }
}
