<mat-card class="card-container">
  <img mat-card-image
       [src]="product.images[0]"
       [alt]="product.title">
  <mat-card-subtitle>{{ product.title.toUpperCase() }}</mat-card-subtitle>
  <mat-card-content>
    <h3>{{ product.price | currency: 'THB': 'symbol-narrow' : '1.0' }}</h3>
    <p>{{ description }}</p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <div class="pull-right">
      <button mat-button
              (click)="addToCart()">ADD</button>
      <button mat-button
              (click)="removeFromCart()">REMOVE</button>
    </div>
  </mat-card-actions> -->
</mat-card>
