.card-container {
  width: 250px;
  margin: 5px 10px;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
}

h3,
p {
  margin: 0;
}

h3 {
  margin-bottom: 0.5rem;
}

mat-card-subtitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
  height: 2rem;
}

img {
  height: 300px;
}
