<table mat-table
       [dataSource]="dataSource"
       class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef
                     class="double"> Title </mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="double"> {{element.title}} </mat-cell>
    <mat-footer-cell *matFooterCellDef
                     class="double"> Total </mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef
                     class="double"> Description </mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="double"> {{element.description}} </mat-cell>
    <mat-footer-cell *matFooterCellDef
                     class="double"></mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef
                     class="center"> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="center">
      {{element.quantity}}
      <mat-icon class="btn-edit pointer"
                [color]="'accent'"
                (click)="onQuantityChange(element.quantity,element.id)">edit</mat-icon>
      <!-- <app-number-picker [default]="element.quantity"
                         (valueChange)="onQuantityChange($event,element.id)"></app-number-picker> -->
    </mat-cell>
    <mat-footer-cell *matFooterCellDef
                     class="center"></mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef
                     class="center"> Total </mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="right"> {{ element.total | number }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef
                     class="right"> {{ total | number }} </mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef
                     class="half right">Remove</mat-header-cell>
    <mat-cell *matCellDef="let element"
              class="half right">
      <mat-icon class="btn-delete pointer"
                [color]="'accent'"
                (click)="onDelete(element.id)">delete_forever</mat-icon>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef
                     class="half right"></mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"
                  class="header-row"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns"
                  class="footer-row"></mat-footer-row>
</table>
