table {
  width: 100%;
}

.footer-row {
  font-weight: bold;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}

.double {
  display: flex;
  flex-grow: 2;
}

.half {
  display: flex;
  flex-grow: 0.75;
}

.btn-edit {
  margin-left: 5px;
}

.btn-delete {
  margin-right: 5px;
}

app-number-picker {
  max-width: 70px;
}

@media (min-width: 991px) {
  app-number-picker {
    max-width: 100px;
  }
}
